
#btnBrowse,#btnNewCashier,#btnClear{
    -fx-background-color:
            #090a0c,
            linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
            linear-gradient(#20262b, #191d22),
            radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-padding: 10 20 10 20;
}
#btnBrowse:hover,#btnNewCashier:hover,#btnClear:hover {
    -fx-background-color:
            rgb(29, 32, 37),
            linear-gradient(#566069 0%, #33383d 20%, #191d22 100%),
            linear-gradient(#3e4449, #373b40),
            radial-gradient(center 50% 0%, radius 100%, rgba(223, 232, 239, 0.9), rgba(255,255,255,0));
    -fx-cursor: hand;

}

#btnSave{
    -fx-background-color:
            #0f0f6b,
            linear-gradient(#427491 0%, #114070 20%, #1b1865 100%),
            linear-gradient(#1b376b, #193964),
            radial-gradient(center 50% 0%, radius 100%, rgba(65, 91, 126, 0.9), rgba(255, 255, 255, 0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-padding: 10 20 10 20;
}
#btnSave:hover {
    -fx-background-color: rgb(29, 32, 37),
    #6565cc,
    linear-gradient(#69b0d9 0%, #5b87b6 20%, #608ac9 100%),
    linear-gradient(#5b79b4, #5282c4),
    radial-gradient(center 50% 0%, radius 100%, rgba(103, 140, 180, 0.9), rgba(147, 151, 194, 0));
    -fx-cursor: hand;
}
#btnDelete{
    -fx-background-color:
            #865555,
            linear-gradient(#a25c5c 0%, #8a4564 20%, #5e2d5c 100%),
            linear-gradient(#5d2b40, #542142),
            radial-gradient(center 50% 0%, radius 100%, rgba(145, 91, 112, 0.9), rgba(9, 0, 2, 0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-padding: 10 20 10 20;
}
#btnDelete:hover {
    -fx-background-color:
            #a88282,
            linear-gradient(#b99292 0%, #b2748f 20%, #b06bad 100%),
            linear-gradient(#b7698b, #ab6190),
            radial-gradient(center 50% 0%, radius 100%, rgba(215, 140, 170, 0.9), rgba(9, 0, 2, 0));
    -fx-cursor: hand;

}

#imgClose:hover{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 0);
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-cursor: hand;

}
#lblAddress,#lblContact,#lblGender,#lblDesignation,#rbtCashier,#rbtOwner,#rbtFemale,#rbtMale,#lblPassword,#lblRePassword,#lblUsername#lblPassword,#lblRePassword,#lblUsername{
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}
#tblMember {
    -fx-background-color: transparent;
}
#tblMember .column-header-background .filler {
    -fx-background-color: transparent;
}
#tblMember .corner {
    -fx-background-color: transparent;
}
#tblMember.column-header-background{
    -fx-background-color: linear-gradient(to bottom, rgba(5, 34, 73, 0.27), rgba(107, 177, 232, 0.27));
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 0 0 0;
    -fx-padding: 0 0 5px 0;
}
#tblMember .column-header {
    -fx-background-color: transparent;
}
#tblMember.table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}
#tblMember-row-cell:hover {
    -fx-background-color: rgba(146, 163, 183, 0.07);
    -fx-text-background-color: #47b48d;
}
#tblMember-row-cell:selected {
    -fx-background-color: rgba(146, 163, 183, 0.07);
    -fx-text-background-color: #043659;
    -fx-font-weight: bold;
}
#tblMember-row-cell:odd{
    -fx-background-color: rgba(88, 131, 175, 0.07);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
#tblMember-row-cell:even{
    -fx-background-color: rgba(51, 56, 128, 0.07);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
#tblMember.virtual-flow .scroll-bar:vertical,
#tblMember .virtual-flow .scroll-bar:vertical .track,
#tblMember .virtual-flow .scroll-bar:vertical .track-background,
#tblMember .virtual-flow .scroll-bar:horizontal,
#tblMember .virtual-flow .scroll-bar:horizontal .track,
#tblMember.virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}
#tblMember .virtual-flow .scroll-bar .increment-button,
#tblMember .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}
#tblMember .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to bottom, #1dbbdd44, #93f9b944);
}
#tblMember .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right, #1dbbdd44, #93f9b944);
}
/*.table-row-cell:highlighted {*/
/*    -fx-background-color: #81c483;*/
/*    -fx-background-radius: 15px;*/
/*}*/










/*#lblPassword,#lblUsername{*/
/*    -fx-text-fill: white;*/
/*    -fx-effect: dropshadow( three-pass-box , rgba(87, 82, 82, 0.6), 5, 0.0 , 0 , 1 );*/
/*    -fx-font-family: "Arial";*/
/*    -fx-text-fill: linear-gradient(#ffffff, #b6b1b1);*/
/*    -fx-font-size: 20px;*/
/*    -fx-font-weight: bold;*/
/*    -fx-padding: 10 20 10 20;*/
/*}*/
.invalid {      /* <- CSS Class */

    /*-fx-border-color: red;*/
    /*-fx-border-radius: 5px;*/
    -fx-text-box-border: red ;
    /*-fx-focus-color: red ;*/
    /*-fx-border-width: 5;*/
    -fx-border-color: red;
    -fx-border-width: 2;
}